*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
}

.oo{
  position: relative;      
  overflow: hidden;
}

.oo:hover .over{
  opacity: 0.6;   
  background-color: hsl(178, 100%, 50%);
  border-radius: 10px;   
} 

.over{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;             
  transition: opacity 0.3s ease; 
}

.container{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  gap: 10px;
  padding: 16px;
}

.one{
  width: 300px;
  border-radius: 10px;
}

h1{
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: bold;
}

h1:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

p{
  color: hsla(0, 0%, 100%, 0.772);
  font-weight: 100;
}

.overall{
  display: flex;
  gap: 116px;
}

.blame{
  display: flex;
  gap: 6px;
  color: hsl(178, 100%, 50%);
}

.two{
  display: flex;
  gap: 6px;
  color: hsl(215, 51%, 70%);
}

hr{
  color: hsl(216, 50%, 16%);
  width: 300px;
  height: 0px;
}

.iu{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border-color: hsl(0, 0%, 100%);
}
.sss{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.b{
  font-weight: 600;
  font-size: 15px;
  color: hsl(194, 62%, 52%);
  margin-top: 10px;
}

span{
  color: hsl(0, 0%, 100%);
}

span:hover{
   color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.attribution{
  margin-top: 10px;
}

@media  (max-width: 375px) {
  body{
    width: 375px;
  }
}
